<footer>
    <div class="footer-nav">
        <div class="footer-item">
            <img src="{{ asset('assets/icons/wave.png') }}" alt="surf">
        </div>
        <div class="footer-item">
            <img src="{{ asset('assets/icons/world.png') }}" alt="map">
        </div>
        <div class="footer-item">
            <img src="{{ asset('assets/icons/user.png') }}" alt="user">
        </div>
    </div>
</footer>