<header>
    <div class="header-nav">
        <div class="header-item">
            <img src="{{ asset('assets/img/logo.png') }}" alt="geosurf" class="logo">
        </div>
        <div class="header-item">
            <img src="{{ asset('assets/icons/burger.png') }}" alt="menu">
        </div>
    </div>
</header>